* {margin:0;padding:0;border:0;background:transparent;outline:none;text-decoration:none;outline:none;font-family:inherit;box-sizing:border-box;}

ol,
ul,
li {
  list-style:none;
  display:block;
}

table {
  border-collapse: collapse;
  border-spacing:0;
}

a img {
  border: none;
}

button,
a{
  cursor: pointer;
  color: inherit;
}

textarea{
  resize: none;
}

button,
input,
textarea,
select{
  appearance: none !important; 
  -webkit-appearance: none !important;
  border-radius: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #5cdb94;
  background-image: radial-gradient(circle, rgba(5,56,107,1) 0%, rgba(56,148,134,1) 35%, rgba(92,219,148,1) 100%);
}

section {
    min-height: 100vh;
}

@keyframes welcomeAnim {
  0% {background-color: #5cdb94; transform: rotate(0) scale(1);}
  50% {background-color: #05386b; transform: rotate(180deg) scale(0.1);}
  100% {background-color: #5cdb94; transform: rotate(360deg) scale(1);}

}

section#welcome {
    position: relative;
    width: calc(100vh - 160px);
    height: calc(100vh - 160px);
    min-height: unset;
    margin: 80px auto;

    border-radius: 10px;
    animation-name: welcomeAnim;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;

    background-color: #5cdb94;
    box-shadow: 0 0 20px #05386b;
}

section#welcome button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;

    border: 4px solid #389486;
    border-radius: 50%;
    background-color: #05386b;

    transition: transform 1s;
    transform: translate(-50%, -50%);

    text-transform: uppercase;
    font-weight: 800;
    color: #5cdb94;
}

section#welcome button:hover {
    transform: translate(-50%, -50%) scale(1.2) rotate(180deg);
}
.children {
  position: absolute;
  background-color: chartreuse;
  border-radius: 50%;
}

.children2 {
  position: absolute;
  background-color: peru;
  border-radius: 50%;
}

#child1 {
  display: inline-block;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  animation: child1Anim 1s ease-in-out forwards infinite alternate 0.5s; 
}

@keyframes child1Anim {
  0% {
    transform: translateX(0);
  }

  33% {
    background-color: crimson;
  }

  100% {
    transform: translateX(95vw);
  }
}

#child2 {
  display: inline-block;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  animation: child2Anim 1s ease-in-out forwards infinite alternate;
}

@keyframes child2Anim {
  0% {
    transform: translateX(0);
  }

  33% {
    background-color: darkmagenta;
  }

  100% {
    transform: translateX(-95vw);
  }
}

#child3 {
  display: inline-block;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  animation: child3Anim 1s ease-in-out forwards infinite alternate; 
}

@keyframes child3Anim {
  0% {
    transform: translateX(0);
  }

  33% {
    background-color: darkmagenta;
  }

  66% {
    background-color: yellow;
  }

  100% {
    transform: translateY(90vh);
  }
}

#child4 {
  display: inline-block;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  animation: child4Anim 1s ease-in-out forwards infinite alternate 1s; 
}

@keyframes child4Anim {
  0% {
    transform: translateX(0);
  }

  33% {
    background-color: darkmagenta;
  }

  66% {
    background-color: yellow;
  }

  100% {
    transform: translateY(90vh);
  }
}

#child5 {
  display: inline-block;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 50px;
  animation: child5Anim 1.5s ease-in-out infinite alternate 0.5s;
}

@keyframes child5Anim {
  0% {
    transform: translateX(0);
  }

  33% {
    background-color: darkmagenta;
  }

  100% {
    transform: translateX(95vw);
  }
}

#child6 {
  display: inline-block;
  bottom: 0;
  right: 0;
  height: 50px;
  width: 50px;
  animation: child6Anim 1.5s ease-in-out infinite alternate 1s;
}

@keyframes child6Anim {
  0% {
    transform: translateX(0);
  }

  33% {
    background-color: orangered;
  }

  100% {
    transform: translateX(-95vh);
  }
}


#child7 {
  display: inline-block;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 50px;
  animation: child7Anim 1.5s ease-in-out infinite alternate 1s;
}

@keyframes child7Anim {
  0% {
    transform: translateX(0%);
  }

  33% {
    transform: translateX(75vw);
    background-color: darkmagenta;
  }

  100% {
    transform: translateY(-45vh);
  }
}

#child8 {
  display: inline-block;
  bottom: 0;
  right: 0;
  height: 50px;
  width: 50px;
  animation: child8Anim 1.5s ease-in-out infinite alternate 1s;
}

@keyframes child8Anim {
  0% {
    transform: translateX(0);
  }

  33% {
    transform: translateY(-70vh);
    background-color: orangered;
  }

  100% {
    transform: translateX(-75vw);
  }
}

#child9 {
  display: inline-block;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  animation: child9Anim 1.5s ease-in-out infinite alternate;
}

@keyframes child9Anim {
  0% {
    transform: translateX(0%);
  }

  33% {
    transform: translateY(75vh);
    background-color: red;
  }

  66% {
    background-color: royalblue;
  }

  100% {
    transform: translateX(75vw);
  }
}

#child10 {
  display: inline-block;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  animation: child10Anim 1.5s ease-in-out infinite alternate 1s;
}

@keyframes child10Anim {
  0% {
    transform: translateX(0);
  }

  33% {
    transform: translateY(45vh);
    background-color: slateblue;
  }

  100% {
    transform: translateX(-45vw);
  }
}